*,*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    /* display: flex; */
    /* align-items: flex-start; */
    flex-direction: column;
    background-color: #FFF7F1;
  }

  /* Style Nav */


.navbar-container {
    background-color: lightpink;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 99999;
    
}
header .nav-list ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-list ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
nav a:hover {
    font-weight: bold;
  }

  /* Style Logo dan Nav */
header {
    width: 100%;
    /* max-width: 1200px; */
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* z-index: 9999; */
}
header .logo img {
    width: 50px;
}

h2, h3 {
    color: #E78895;
}


/* Style Main */
main {
    padding: 20px;
    display: row;
    gap: 5rem;

}
/* untuk overall main bagian konten */
.content {
    flex: 2;
    display: row;
    gap: 5rem 5rem;
    align-items: flex-start;
}

/* flex item pertama dari id content : jumbotron */
.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom : 5px;
    margin-bottom: 50px;
    margin-top: 50px;
}



.gambar {
    flex: 1;
    display: flex;
}

.gambar img {
    width: 500px;
    min-width: 150px;
    margin: auto;
}

.ket {
    flex: 1;
}

.ket h2 {
    margin-block: 1rem;
    font-size: 3.5rem;
}
.ket p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    
}

.isikonten {
    flex: 1;
}

/* flex item ke 2 dari id content : isi konten */
/* .card {
    box-shadow: 0 4px 8px 0 rgb(190, 209, 207);
    border-radius: 100px;
    padding: 40px;
    background-color: white;
    margin-bottom: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
} */


.featured-image {
    
    width: auto;
    max-height: 400%;
    object-fit: cover;
    object-position:center;
    text-align: center;
  }


/* bagian aside */
aside {
    flex: 1;   
    display: flex;
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center; /* Memusatkan secara vertikal */
}
/* 
.profile .card {
    text-align: center;
} */

/* .profile header {
    text-align: center;
} */

.profile img {
    width: 200px;
}

/* Bagian Footer */
footer {
    color: white;
    padding: 10px;
    background-color: #BED1CF;
    text-align: center;
    font-weight: bold;
}